<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSDocuments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45015BA21BF4DBFD0024982C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45015BB81BF4DBFD0024982C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45015BC31BF4DBFD0024982C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
