<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>450A8A081CAC0F1F00B9261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450A8A1C1CAC0F1F00B9261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>450A8A271CAC0F1F00B9261B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
